:root {
  --body-linear: linear-gradient(145deg, #F8F9FA, #E9ECEF);
  --header-linear: linear-gradient(135deg, #1D3557, #0F0F0F);
  --header-text: #FFFFFF;
  --background-color: #F8F9FA;
  --text-color: #1A1A1A;
  --highlight-color: #E63946;
  --links-icons: #457B9D;
  --divider-color: rgba(255, 255, 255, 0.1);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: var(--body-linear);
    min-height: 100vh;
    width: 100%;
    scroll-behavior: smooth;
    color: var(--text-color);
}

header{
    background-image: var(--header-linear), url(./img/vector.jpg);
    color: var(--header-text);
}

nav {
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding: 1rem;
}
nav ul li .active{
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 0px 12px var(--text-color);
    padding-left: 5px;
}


.nav-link{
    color: #F1FAEE;
    transition: color 0.3s ease;
}
.nav-link:hover{
    color: var(--highlight-color);
}

.pricing-title h1{
    text-align: center;
}
#price-title{
    text-decoration: underline dotted var(--highlight-color);
    text-underline-offset: 6px;
}

.pretty{
    color: var(--links-icons);
}
#price-message{
    font-size: 1.2rem;
}

.first-service{
    background-color: var(--header-text);
    padding: 1em;
    border-radius: 20px;
    position: relative;
}

.service-item{
    display: inline-flex;
    gap: 1em;
    box-shadow: 3px 3px 3px var(--text-color), inset -3px -3px 3px var(--highlight-color);
    padding: 1em;
    background-color: var(--background-color);
    border-left: var(--text-color) solid;
    border-top-left-radius: 20px;
}
.service-item p {
    align-self: flex-end;
}

.service-holder{
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;

}
.service-price-tag{
    background-color: var(--background-color);
    box-shadow: 0px 0px 5px var(--links-icons);
    padding: 1em;
}

.last {
    background-color: var(--background-color);
}
    footer ul {
        display: flex;
        flex-wrap: wrap;
        gap: 2em;
        justify-content: center;
    }

    footer ul li {
        list-style: none;
        text-decoration: none;
    }
    footer ul li a{
        color: var(--text-color);
        text-decoration: none;
    }

    footer ul li a:hover {
    color: var(--highlight-color);
    }
